.container {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 4px;
  width: fit-content;
  align-items: center;
  padding: 0.15rem 0.5rem;
}

.image {
  height: 3rem;
}

.discordImage {
  margin-left: -0.4rem;
  margin-bottom: -0.1rem;
}

.twitterImage {
  height: 2rem;
}
